@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Economica:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
}

body header {
  width: 100%;
  margin: 0;
}
body header nav.navbar {
  width: 100%;
  display: flex;
  background-color: lightseagreen;
  padding: 7px 5px;
  overflow: hidden;
  top: 0;
  position: fixed;
  justify-content: flex-start;
}
body header nav.navbar ul {
  display: flex;
  justify-content: space-between;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
body header nav.navbar ul li {
  list-style-type: none;
  background-color: lightseagreen;
  transition: 0.3s ease-out all;
  cursor: pointer;
}
body header nav.navbar ul li:hover {
  background-color: rgba(12, 235, 197, 0.479);
  text-decoration: underline;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
body header nav.navbar ul li:hover a {
  text-decoration: underline;
}
body header nav.navbar ul li a,
body header nav.navbar ul li button {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
}

/* MAIN */
body main {
  margin: 0;
  background-color: #f2f3f4;
}
body main #gotop {
  position: fixed;
  bottom: -60px;
  /* Initially hidden below screen */
  right: 20px;
  width: 50px;
  height: 50px;
  background: black;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
body main #gotop.show {
  bottom: 20px;
  /* Moves up */
  opacity: 1;
  /* Becomes visible */
}
body main #gotop:hover {
  background: #444;
}
body main section.myname {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.myname .text {
  display: block;
  text-align: center;
}
body main section.myname .text .btn.godown {
  border: 3px solid transparent;
  border-radius: 5px;
  /* background-color: #ccc; */
  padding: 10px;
  transition: 0.3s ease-in all;
  font-size: 25px;
  transform: font-size 0.2s ease;
  background-color: transparent;
  z-index: 1;
  position: relative;
}
body main section.myname .text .btn.godown:hover {
  /* background-color: #b8b4b4; */
  cursor: pointer;
  font-size: 25px;
  transform: scale(1.25);
  background-color: #f2f3f4;
  /* border-color: royalblue; */
}
body main section.myname .text h1.title {
  font-size: 100px;
  font-family: "Economica";
  font-weight: 200;
}
body main section.myname .text h2.subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  z-index: 2;
  position: relative;
}
body main section.bodysection {
  background-color: coral;
  margin: 0;
  padding: 50px;
  text-align: justify;
  min-height: 100vh;
}
body main section.bodysection .pctitle {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
body main section.bodysection .pctitle h1.ptitle {
  font-family: "Economica";
  font-size: 80px;
  font-weight: 200;
}
body main section.bodysection .pctext {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
body main section.bodysection .pctext p {
  font-size: 18px;
}
body main section.bodysection .pctext p a {
  text-decoration: none;
}
body main section.bodysection .pctext p a:hover {
  text-decoration: underline;
}
body main section.bodysection .pctext p a:visited {
  color: #0000EE;
}
body main section.bodysection .pctext {
  /* DIV.LIST SECTION */
}
body main section.bodysection .pctext div.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f4f5f6;
  padding: 15px;
  /* border: 4px solid black; */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 75%;
}
body main section.bodysection .pctext div.list ul {
  list-style: none;
  padding: 0;
}
body main section.bodysection .pctext div.list ul li {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
}
body main section.bodysection .pctext div.list ul li strong {
  font-weight: 500;
  margin-right: 5px;
}
body main section.bodysection .pctext div.list ul li a {
  text-decoration: none;
  transition: 0.3s ease-out all;
  margin-left: 3px;
}
body main section.bodysection .pctext div.list ul li a:hover {
  text-decoration: underline;
}
body main section.bodysection .pctext div.list ul li a:visited {
  color: #0000EE;
}
body main section.bodysection .pctext div.list ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #10e03d;
  font-size: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
body main section.bodysection .pctext {
  /* DIV.GRID SECTION */
}
body main section.bodysection .pctext div.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  gap: 20px;
  justify-content: center;
  /* align-items: center; */
}
body main section.bodysection .pctext div.grid div.card {
  margin-top: 10px;
  background-color: #f2f3f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}
body main section.bodysection .pctext div.grid div.card h3 {
  font-size: 30px;
  font-family: "Bree Serif", serif;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 3.5px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}
body main section.bodysection .pctext div.grid div.card p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: justify;
}
body main section.bodysection .pctext {
  /* SPONSORS & DIV.BOX SECTION */
}
body main section.bodysection .pctext div.boxcontainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 1fr);
  gap: 10px;
}
body main section.bodysection .pctext div.boxcontainer .box {
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
body main section.bodysection .pctext div.boxcontainer .box.no-img {
  justify-content: center;
  align-items: center;
}
body main section.bodysection .pctext div.boxcontainer .box {
  /* Positioning also depends in what's first: the img or the text */
}
body main section.bodysection .pctext div.boxcontainer .box.align-right {
  justify-content: flex-start;
  align-items: center;
}
body main section.bodysection .pctext div.boxcontainer .box.align-right img {
  margin-right: 10px;
  left: 2px;
}
body main section.bodysection .pctext div.boxcontainer .box.align-left {
  justify-content: flex-end;
  align-items: center;
}
body main section.bodysection .pctext div.boxcontainer .box.align-left img {
  margin-left: 10px;
}
body main section.bodysection .pctext div.boxcontainer .box.align-top {
  flex-direction: column;
  align-items: flex-start;
}
body main section.bodysection .pctext div.boxcontainer .box.align-top img {
  margin-bottom: 10px;
}
body main section.bodysection .pctext div.boxcontainer .box.align-bottom {
  flex-direction: column;
  justify-content: flex-end;
}
body main section.bodysection .pctext div.boxcontainer .box.align-bottom img {
  margin-top: 10px;
}
body main section.bodysection .pctext div.boxcontainer .box img {
  width: 100px;
  height: auto;
}
body main section.bodysection .pctext div.boxcontainer .box.size1 {
  grid-column: span 1;
}
body main section.bodysection .pctext div.boxcontainer .box.size2 {
  grid-column: span 2;
}
body main section.bodysection .pctext div.boxcontainer .box.size3 {
  grid-column: span 3;
}
body main section.bodysection .pctext div.boxcontainer .box.size4 {
  grid-column: span 4;
}

/* BEGIN SCROLL EDITS */
::-webkit-scrollbar {
  width: 10px;
  background-color: darkgrey;
  /* padding: 5px; */
}

::-webkit-scrollbar-thumb {
  background-color: #6f6f6f;
  border-radius: 10px;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #5e5a5a;
}

::-webkit-scrollbar-track {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-button {
  display: none;
  background-color: #333;
  color: white;
}

/* BEGIN FOOTER */
body footer {
  background-color: #282b2b;
  padding: 20px;
  text-align: center;
}
body footer div.fgrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
  gap: 20px;
  justify-content: space-between;
}
body footer div.fgrid div.fitem {
  color: white;
  padding: 10px;
}
body footer div.fgrid div.fitem h3 {
  font-size: 30px;
  font-family: "Bree Serif", serif;
  font-weight: 200;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 3.5px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
body footer div.fgrid div.fitem p {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
body footer div.fgrid div.fitem p a {
  text-decoration: none;
  color: #d6d6d6;
  transition: 0.3s ease-out all;
}
body footer div.fgrid div.fitem p a:hover {
  text-decoration: underline;
  color: #e6e6e6;
}
body footer div.fgrid div.fitem p a .fa-brands {
  font-size: 22px;
}
body footer div.fgrid div.fitem p a .fa-brands.fa-instagram {
  color: #d10cd8;
}
body footer div.fgrid div.fitem p a .fa-brands.fa-facebook {
  color: #0c3bd8;
}
body footer div.fgrid div.fitem p a .fa-brands.fa-twitter {
  color: #0c72d8;
}
body footer div.fgrid div.fitem input,
body footer div.fgrid div.fitem .btn:not(.godown) {
  padding: 10px;
  border-radius: 5px;
  border: 3px solid transparent;
  background-color: #444;
  color: #d2d2d2;
  font-size: 18px;
  transition: 0.3s ease-out all;
  margin-top: 10px;
  outline: none;
}
body footer div.fgrid div.fitem input:hover,
body footer div.fgrid div.fitem .btn:not(.godown):hover {
  background-color: #222;
  border-color: #444;
  color: #e2e2e2;
}
body footer div.fgrid div.fitem input:focus,
body footer div.fgrid div.fitem .btn:not(.godown):focus {
  background-color: #444;
  border-color: #575757;
  color: #e2e2e2;
}
body footer div.fgrid div.fitem .btn:not(.godown) {
  background-color: #d8d80c;
  border: 3px solid transparent;
  color: black;
  cursor: pointer;
  font-size: 20px;
}
body footer div.fgrid div.fitem .btn:not(.godown):hover {
  background-color: #d8d80c;
  color: black;
  border-color: #fbff10;
  font-size: 20px;
}

/* BEGIN EXCEPTIONS */
body main section.bodysection .pctext.dflex {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=Main.css.map */